
.center {
	margin-left: auto;
	margin-right: auto;

	width: 70%;
	background-color: #ecf0f1;
}

.centertext{
	text-align: center;
}
.pcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 40%
}

body {
	background-image: url("maze.png");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	background-color: #D2D7D3; 
	color: #29293D;
}

div.bod {
	position: relative;
	padding: 3%;
	margin-left: 10%;
	margin-right: 10%;
}


div.header {
	background-color: #E74C3C;
	color: #EEEEEE;
	height: 4em;
	margin-top: -22px;

}
div.nav {

	background-color: #C0392B;
	display: block;

	padding: 1%;
} 

.col-3 { 
	float: left;  
	width: 30.8%; 
	margin-right: 3.8%; 
}

.last { 
	margin-right: 0; 
}

.portimage {
	min-width: 100px;
	max-width: 80%;

}

.mobilemockup {
	min-width: 250px;
	max-width: 40%;

}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.round {
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10%;
	max-width: 100%;
	max-height: 100%;
}

.round:hover {
	opacity: .8;
	background: #eee;
	width: 100%;
	height: 100%;
	transition:opacity .2s ease-out, background .2s ease-in;
}


.round img {
	display: block;
	width: 100%;
	min-width: 30px;
	min-height: 30px;
	max-width: 100%;
	max-height: 100%;
}

.home {
	min-width: 20%;
	min-height: 20%;
	max-height: 40%;
	max-width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.circle {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

p {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;}

h1 {	
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;
	vertical-align: middle;
	font-weight: 300;
	line-height: 2;
}

h2 {	
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;}
h3 {	
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;}
h4 {	
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;
	font-weight: 500;
}

h4.list {
	text-indent: 5%;
	line-height: .5em;
}

h5 {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;
	font-weight: 500;
}

h6 {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;
	font-size: 15px;

	font-weight: 400;
}

.subhead {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;}

li {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;

}

a {
	color: #E74C3C;
	text-decoration: underline;
	transition:color .2s ease-out, background .5s ease-in;
}

a:hover {
	color: #C0392B;
	text-decoration: none;
}

li.nav {
	display: inline;
	text-align: center;
	padding: 40px;
}

li.nav a {
	color: #fff;
	font-weight: 200;
	text-decoration: none;
}
li.nav a:hover {
	color: #E74C3C;
}

ul.resume {
	list-style-type: circle;
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", 
	Verdana, sans-serif;
}

ul.nav {
	list-style-type: none;
	text-align: center;
}


.plain {
	list-style-type: none;
}	

.bio {
	width: 80%;
	font-size: 80%;
}